body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: gray;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 100vh;
}

.grid-item {
  border: 1px solid #ccc;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 100vh;
}

.grid-item {
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: background-color 0.9s ease;
}

.grid-item:hover {
  background-color: rgb(0, 4, 255);
}
